<table class="table table-striped border">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Categoría</th>
      <th scope="col">Cantidad de Productos</th>
      <th scope="col">Distintivo</th>
    </tr>
  </thead>
  <tbody>
    @for (category of categories; track category.id) {
      <tr>
        <th scope="row">{{ category.id }}</th>
        <td>{{ category.name }}</td>
        <td>{{ category.count }}</td>
        <td>
          <dsb-badge-atom
            [text]="category.name"
            [type]="categoryMap[category.name]"
          >
          </dsb-badge-atom>
        </td>
      </tr>
    }
  </tbody>
</table>
